body {
  display: flex;
  justify-content: center;
  background-image: url("https://i.imgur.com/wMoeBtp.jpg");
}

.App {
  height: 600px;
  width: 100vh;
}

.map {
  height: 100%;
  width: 98%;
  border-radius: 20px;
  border: solid 4px rgb(106, 62, 217);
}

.marker {
  background-image: url("https://i.imgur.com/YgbtAH5.jpg");
  background-size: cover;
  width: 22px;
  height: 22px;
  background-color: gold;
  border-radius: 11px;
  border: solid 3px darkslateblue;
}

.delivery-marker {
  background-image: url("https://i.imgur.com/l2drP10.png");
  background-size: cover;
  width: 25px;
  height: 25px;
}

.longitude {
  margin-right: 20px;
  margin-bottom: 10px;
}

.latitude {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.search-bar {
  text-align: center;
  /* justify-content: center; */
  border-radius: 11px;
  border: solid 3px darkslategray;
  background-color: khaki;
}

.box {
  padding: 10px;
}

.btn {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}